* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #1F2937; 
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    
}
li {
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 18px;
}

.logo {
    font-size: 24px;
}

.links ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.header-content {
    display: flex;
    gap: 5em;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    align-items: flex-end;
    justify-content: space-between;
    height: 300px;
}

.btn-1 {
    background-color: #3882F6;
    padding: 1em 3em;
    border-radius: 1em; 
    border-color: #3882F6;
    color: white;
    font-weight: 900;
    margin-top: 10px;
}

.left-header {
    flex-basis: 40%;
    min-width: 25ch;
}

.left-header p {
    margin: 10px 0;
}
.right-header {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    padding-bottom: 35px;
}

.section2 {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.flex-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex-list-item > * {
    flex: 1 1 auto;
    width: 150px;
}

.flex-list-item img {
    border: 5px solid #3882F6;
    border-radius: 1em;
}

.section3 {
    padding: 20px;
    height: 300px;
    background-color: #E5E7EB;
}

.flex-quote {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.thor {
    align-self: flex-end;
}

.action-call {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;

}

.action-call > * {
    background-color: #3882F6;
    border-radius: 0.5em;
    color: white;
    padding: 3em 4em;
}

.action-call-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap;
    gap: 2em;
}

.btn-2 {
    padding: 0.75em 2em;
    flex-shrink: 0;
    color: white;
    background-color: #3882F6;
    border-color: white;
    border-radius: 0.9em;
    align-self: baseline;
    position: relative;
    bottom: 10px;
}

.action-call-flex p {
    align-self: baseline;
}

footer {
    background-color: #1F2937;;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
