* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #1F2937; 
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    
}
li {
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 20px;
}

.links ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.header-content {
    display: flex;
    gap: 5em;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    align-items: flex-end;
    justify-content: space-between;
    height: 300px;
}

.btn-1 {
    background-color: #3882F6;
    padding: 1em 3em;
    border-radius: 5%;
    border-color: #3882F6;
    color: white;
    font-weight: 900;
    margin-top: 10px;
}

.left-header {
    flex-basis: 40%;
    min-width: 25ch;
}
.right-header {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
}